/*--------------NAV-BAR--------------*/
.nav-bar-container{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #6fc7b0;
    backdrop-filter: blur(2rem);
}

.navbar-title{
    color: #005675;
    justify-self: start;
    margin: 0;
    margin-left: 50px;
    cursor: pointer;  
}
/* .nav-bar-btn-container{
    display: grid;
    justify-content: end;
} */
.nav-bar-btn{
    color: #005675;
    border: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border-radius: 4px;
}

.nav-bar-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.item1 { grid-area: sub-heading; }
.item2 { grid-area: register; }
.item3 { grid-area: singIn; }
.item4 { grid-area: participantCorner; }
.item5 { grid-area: quickSurvey; }
.item6 { grid-area: navigation-bar}

/*--------------HOME PAGE--------------*/
.grid-container {
  display: grid;
  grid-template:
    'sub-heading sub-heading sub-heading sub-heading sub-heading sub-heading'
    'navigation-bar navigation-bar navigation-bar navigation-bar navigation-bar navigation-bar';
  background-color: #fff;
  
}

.header-container {
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    text-align: center;
    width: 100%;
    height: 400px; 
}

.heading {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.sub-heading2 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.grid-container2 {
  display: grid;
  grid-template:
    'register singIn participantCorner';
  background-color: #fff;
  margin-top: 50px;
  grid-gap: 10px;
  padding: 10px;
  
}

.sub-container {
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    /* background-color: #fff; */
    border-radius: 4PX;
    width: 300px;  
    height: 200px; 
    margin: auto;
    padding: 10px; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: 0.5s;
    position: relative;
    border: 5px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 4px;  
}

/* .sub-container:hover {
    transform: translateY(-20px);
} */

.sub-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    box-shadow: 0 0 20px #e3e3e3;
    background: linear-gradient(to right bottom, #fff, #e3e3e3);
}

.heading-two{
    opacity: 1;
    text-align: center;
    color: #7c99a3;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.sub-paragraph {
    text-align: left;
    color: #7c99a3;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
}

.btn-container {
    position: relative;
}

.btn-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}

.btn{
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    box-shadow: 0 0 20px #e3e3e3;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 4px;
    
    border: 1px solid transparent;
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    box-shadow: 0 0 20px #f0f0f0;
    background: linear-gradient(to right bottom, #fff, #e3e3e3);
}

.btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px #f0f0f0;
}

.center-squares{
    display: flex;      
    justify-content: center;
    margin-top: 50px;
}

.pass-reset-btn{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #005675;
    text-align: center;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.pass-reset-btn:hover{
    color: #6fc7b0;
    transition: all 0.2s ease-in-out;
}

/*--------------ADMIN HOME PAGE----------------*/

.sub-container-admin {
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    /* background-color: #fff; */
    border-radius: 4PX;
    width: 300px;  
    height: 330px; 
    margin: auto;
    padding: 10px; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: 0.5s;
    position: relative;
    border: 5px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 4px;
    
}
/* .sub-container:hover {
    transform: translateY(-20px);
} */

.sub-container-admin::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    box-shadow: 0 0 20px #e3e3e3;
    background: linear-gradient(to right bottom, #fff, #e3e3e3);
}

.input-box-admin{
    width: 180px;
    padding: 10px;
    margin-top: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #005675;
    font-size: 16px;
    box-shadow: 0 0 20px #e3e3e3;
    border-radius: 4px;
}


/*--------------REGISTRATION PAGE--------------*/

.sub-header-container-white {
    background: #fff;
    width: 100%;
    height: 150px;
}
.sub-heading-blue {
    text-align: center;
    color: #7c99a3;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 75px;
}

.content-container {
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.form-container {
    /* background: linear-gradient(#37224d, #121636); */
    
    display: inline-block;
    padding: 50px;
    border-radius: 4px;
    margin-left: 50%;
    margin-right:50%;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    
}

.label-container{
    display:block;
	float: left;
}

.label2{
    float: left;
    width: 10em;
    margin-right: 1em;
    color: #005675;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-input{
    background-color: transparent;
    width: 400px;
    padding: 10PX;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Raleway', sans-serif;
    color: #005675;
    font-size: 25px;
}


.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn{
    margin-top: 30px;
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    position: relative;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 15px;
    border: none;
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.register-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

/*--------------PROFILE PAGE--------------*/
.item7 { grid-area: profileHeading }
.item8 { grid-area: profileContainer }
.item9 { grid-area: surveyHeading }
.item10 { grid-area: surveyContainer }

.dashboard-grid-container {
  display: grid;
  grid-template:
    'profileHeading surveyHeading'
    'profileContainer surveyContainer';
  display: inline-grid;
  grid-gap: 3px;
  justify-items: center;
  /* align-items: center; */
  
}

.profile-bg {
    /* background: linear-gradient(to right top, #ED0053, #EDE953); */
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    min-height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}

.content-container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-heading {
    color: #fff;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    /* margin-top: -100px; */
}

.profile-content-container {
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    box-shadow: 0 0 20px #6fc7b0;
    margin-right: 20px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 250px;
    height: 500px;
    box-shadow: 0 0 20px #6fc7b0;
    
}

.name-text{
    color: #7c99a3;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.profile-btn{
    margin-top: 30px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 20px #6fc7b0;
}

.profile-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.all-surveys-container{
    padding: 20px;
    overflow-y:auto;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 0 20px #6fc7b0;
}
.survey-container{
    width: 600px;
    height: 50px;
    padding: 50px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 3;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px #6fc7b0;
}

.survey-details{
    margin-top: -60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #fff;
}

.survey-title{
    color: #7c99a3;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.survey-code{
    color: #7c99a3;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.survey-date{
    color: #7c99a3;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.survey-btn{
    margin-top: 30px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    color: #7c99a3;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.survey-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.logout-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
     margin-top: 30px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 20px #6fc7b0;
}
.button-with-img{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
.logout-icon{
    width: 25px;
    height: 27px;
    margin-right: 50px;
    border: 2px solid black;
}

/*--------------CREATE SURVEY STEP 1 PAGE--------------*/

.sub-heading-blue-2 {
    text-align: center;
    color: #7c99a3;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.sub-sub-heading-blue-2 {
    text-align: center;
    margin-top: 60px;
    color: #7c99a3;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.center-btn-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.next-btn{
    margin-top: 30px;
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    position: relative;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 15px;
    border: none;
    color: #005675;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.next-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
}


/*--------------CREATE SURVEY STEP 2 PAGE--------------*/
.sub-header-container-blue {
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    width: 100%;
    height: 150px;
}

.sub-heading-white-2 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.sub-sub-heading-white-2 {
    text-align: center;
    margin-top: 60px;
    color: #fff;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.survey-content-container-2 {
    
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    width: 100%;
    height: 100%;
    min-height: 1000px;
    /* display: flex;      
    justify-content: center; */
}

.center{
    display: flex;      
    justify-content: center;
}

.row1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.center-column{
    display: flex;      
    justify-content: center;
    flex-direction: column;
}

.add-anchor-btn {
    background: #fff;
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: none;
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin-top: 30px;
    height: 50px;
}

.add-anchor-btn:hover {
    background: #005675;
    color: #fff;
}

.reset-btn {
    background: #fff;
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: none;
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin-top: 30px;
    height: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.reset-btn:hover {
    background: #005675;
    color: #fff;
}

.slot-index {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #005675;
    font-size: 25px;
    text-align: center;
}


.add-slot-btn {
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: none;
    color: #005675;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    width: 40px;
    height: 40px;    
    margin-top: 10px;
    font-size: 20px;
}
.add-slot-btn:hover{
    color: #7c99a3;
    background-color: #c4fc83; 
}
.slot-container{
    margin-top: 10px;
}
.slot1 {
    width: 50px;
    height: 50px;
    margin: 10px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: none;
    cursor: pointer;
    
}

.remove-slot-btn {
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: none;
    color: #005675;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    width: 40px;
    height: 40px;    
    margin-top: 10px;
    font-size: 20px;
}
.remove-slot-btn:hover{
    color: #7c99a3;
    background-color: #fc8397; 
}

/*--------------CREATE SURVEY STEP 3 PAGE--------------*/

.big-btn{
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    box-shadow: 0 0 20px #e3e3e3;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    color: #005675;
    height: 250px;
    width: 250px;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.big-btn:hover{
    background: #005675;
    color: #fff;
    box-shadow: 0 0 20px #e3e3e3;
}

.gap{
    padding: 100px;
}

/*--------------MANUALL STATEMENTS--------------*/
.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right top, #005675, #6fc7b0, #fff);
    width: 100%;
    height: 100vh;
}
.total-text-container{
    margin-top: 5px;
    width: 440px;
    
}
.total-cards-text{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #005675;
}
.total-number-text{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #005675;
    text-align: center;
    margin-top: 5px;
}
.cards-container{
    width: 400px;
    height: 450px;
    box-shadow: 0 0 20px #6fc7b0;
    margin-top: 2px;
    overflow-y:auto;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
}
.space{
    padding: 15px;
}
.card{
    width: 300px;
    height: 150px;
    border: none;
    box-shadow: 0 0 20px #6fc7b0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #005675;
}

.next2-btn{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    position: relative;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 15px;
    border: none;
    color: #005675;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.next2-btn:hover{
    background: #005675;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

/*--------------CREATE SURVEY STEP 4 PAGE--------------*/
.paragraph {
    text-align: left;
    /* margin-top: 60px; */
    color: #005675;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.question-cards-container{
    height: 500px;
    width: 470px;
    box-shadow: 0 0 20px #6fc7b0;
    margin-top: 2px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
}

.questions-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-question-field{
    width: 400px;
    border: none;
    box-shadow: 0 0 20px #6fc7b0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #005675;
}
.add-question-btn{
    margin-top: 30px;
    background: #fff;
    border: none;
    color: #7c99a3;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    border-radius: 4px;
}
.add-question-btn:hover{
    background: #005675;
    color: #fff;
}

.questions-container{
    border: none;
    width: 400px;
    height: 150px;
    min-height: 100px;
    box-shadow: 0 0 20px #6fc7b0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #005675;
    margin-top: 50px;
    overflow-y:auto;
}

.delete-question-btn{
    background: #fff;
    border: none;
    color: #005675;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}

.delete-question-btn:hover{
    background: #005675;
    color: #fff;
}

.question-column{
    width: 300px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #f0f0f0;
}

.delete-column{
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #f0f0f0;
}

.remove-btn-align{
    text-align: center;
}

/*--------------FINISH SURVEY PAGE--------------*/

.code-container{
    height: 100px;
    width: 200px;
    box-shadow: 0 0 20px #6fc7b0;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #005675;
}


/*--------------PARTICIPANT HOME PAGE--------------*/

.center-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sub-container-participant {
    background: linear-gradient(
    to right bottom, #fff, #f0f0f0
    );
    /* background-color: #fff; */
    border-radius: 4PX;
    width: 300px;  
    height: 250px; 
    margin: auto;
    padding: 10px; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: 0.5s;
    position: relative;
    /* border: 5px solid transparent; */
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 4px; 
    box-shadow: 0 0 20px #e3e3e3; 
}

/*--------------PARTICIPANT STEP 1 PAGE--------------*/

.center-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right top,  #5100C2, #5155C2, #5196C2,  #51E2C2, #fff);
    width: 100%;
    height: 100%;
    min-height: 1000px;
}

.headings{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #005675;
    border-bottom: 1px solid #f0f0f0;
}

.survey-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: -10px;
    color: #f0f0f0; 
}

.description-container{
    width: 300px;
    height: 150px;
    overflow-y:auto;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    box-shadow: 0 0 20px #51E2C2;
}

.survey-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 10px;
    color: #005675;
}

.admin-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: -10px;
    color: #f0f0f0;  
}

/*--------------PARTICIPANT STEP 2 PAGE--------------*/
.row-direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.survey-name-under{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #f0f0f0; 
}

.admin-name-under{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #f0f0f0;  
}

.enabled{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    color: #005675;
    background-color: #c4fc83; 
    position: relative;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 15px;
    border: none;
    /* color: #005675; */
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.disabled{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #de6666;
    position: relative;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 15px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
/*--------------PARTICIPANT STEP 3 PAGE QUESTIONS--------------*/
.question-cards-container2{
    height: 500px;
    width: 470px;
    box-shadow: 0 0 20px #6fc7b0;
    margin-top: 2px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    overflow-y: auto;
}

.question-container{
    display:block;
	float: left;
    margin-left: 20px;
}

.question{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.answer-input{
    background-color: transparent;
    width: 400px;
    padding: 10PX;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    font-family: 'Raleway', sans-serif;
    color: #005675;
    font-size: 20px;
    margin-left: 20px;
}

/*--------------PARTICIPANT STEP 3 PAGE--------------*/
.cards-container-parent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 350px;
    height: 200px;
}
.stack{
    position: absolute;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
}

.categories-container{
    margin-top: 10px;
    width: 1000px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.category-container{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.column{
    margin: 8px;
    border-radius: 4px;
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    /* z-index: 2; */
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    box-shadow: 0 0 20px #51E2C2;
    
}

.column-name{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #005675;
}

.statements-holder1{
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 300px;
}

.statement-card1{
    background: #fff;
    z-index: 2;
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    box-shadow: 0 0 20px #51E2C2;
    user-select: none;
    padding: 16px;
    margin: 0 0 15px 20px;
    min-height: 50px;
    color: #005675;
    text-align: center;
    width: 160px;
}

/*--------------PARTICIPANT STEP 4 PAGE--------------*/

.instructions-container{
    text-align: center;
    width: 700px;
}

.board-container{
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: row;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border-radius: 4px;

}

.anchors-container{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 0 0 8px 0;

}

.columns-anchors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    box-shadow: 0 0 20px #51E2C2;
}

.anchor-number{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #005675;
}

.slot{
    height: 90px;
    width: 155px;
    margin: 0 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    z-index: 1;
}

.not-dragging{
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
}

.dropped-statement{
    width: 137px;
    height: 75px;
    user-select: none;
    padding: 8px;
    color: #005675;
    text-align: center;
    /* background: #fff; */
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    
    border: 1px solid lightGrey;
    /* box-shadow: 0 0 10px #e3e3e3; */
    z-index: 3;
}

.statements-container{
    padding: 10px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    margin-top: 20px; 
    height: 150px;
    justify-content: center;
    align-items: center;
    
}

.title-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #005675;
}

.statements-holder{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 1010px;
    overflow-x: auto;
    margin: 0 0 20px 0;
    background: #fff;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border-radius: 4px;
    margin-top: 20px; 
}

.statement-card{
    min-width: 150px;
    max-width: 150px;
    height: 80px;
    user-select: none;
    padding: 8px;
    color: #005675;
    text-align: center;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
    border: 1px solid lightGrey;
    box-shadow: 0 0 10px #e3e3e3;
    margin: 0 0 0 8px;
    z-index: 3;
}

/*_____________________________________________________________________________*/


.container2 {
    align-items: center;
}

.headerContainer {
    width: 100%;
    height: 400px;  
    background: linear-gradient(#e66465, #9198e5);
}

.grid {
    display: grid;
    width: 1000px;
    margin-top: 100px;
    grid-gap: 20px;
    padding: 10px;

    grid-template-areas:
    'register singIn'
    'participantCorner quickSurvey';    
}




.sign-in-container {
    
    background-color: grey;    
    width: 250px; 
    height: 200px;  
    margin: auto;
    padding: 10px;   
}

.participant-container {
    
    background-color: grey;    
    width: 250px;  
    height: 200px; 
    margin: auto;
    padding: 10px;   
}

.quick-survey-container {
    
    background-color: grey;    
    width: 250px;  
    height: 200px; 
    margin: auto;
    padding: 10px;    
}





.sub-list{
    list-style-type: circle;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}



.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.log-in-btn{
    background-color: #fff;
    border: 2px solid #fd681d;
    color: #fd681d;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    margin-top: 5px;
}

.log-in-btn:hover{
    background-color: #fd681d;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    margin-top: 5px;
}


.actions-container > div {
    margin: 10px;
    
  }

.action-create {      
    background-color: grey;  
    width: 200px;     
}

.action-start {
    background-color: grey;  
    width: 200px;   
}

.action-check {
    background-color: grey;  
    width: 200px; 
}

.action-heading {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.action-btn {
    display: flex;      
    justify-content: center;     
}

.action-btn-style {
    background-color: #fff;
    border: 2px solid #fd681d;
    color: #fd681d;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Sriracha', sans-serif;
    border-radius: 4px;
}

.action-btn-style:hover {
    background-color: #fd681d;
    border: 2px solid #fff;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Sriracha', sans-serif;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}


